html {
  scroll-behavior: smooth;
}


.abthead {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px ;
  padding-bottom: 30px;
  padding-top: 20px;
}


.abtdesc {
  font-family: 'Open sans';
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20px;
}

.fromfounder {
  background-color: #C4FCF0;
  font-family: 'Open sans';
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.fromfounder div div {
  color: #b1afd7;
  font-family: 'Walter Turncoat', cursive;
}

.ai{
  font-size: 15px;
  padding-left: 60px;
  padding-right: 20px;
}

.ai1{
  border-left: 15px solid lightcoral;
  border-bottom: 5px solid lightcoral;
  padding-bottom: 20px;
  /* margin-right: 300px; */
}
.ai2{
  border-left: 15px solid #fed758;
  border-bottom: 5px solid #fed758;
  padding-bottom: 20px;
}
.aihead{
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 10px;
}
.feedback{
  
  padding-top: 100px;
  padding-bottom: 50px;
}
.fcar{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .hero {
  background: -webkit-linear-gradient(top right, #493aae, #43b0f2);
    background: -moz-linear-gradient(top right, #493aae, #43b0f2);
    background: -o-linear-gradient(top right, #493aae, #43b0f2);
    background: linear-gradient(to bottom left, #493aae, #43b0f2); 
  height: 400px;
  position: relative;
}

.hero-curve {
  position: absolute;
  bottom: 0;
  left: 0;
} */

@media (max-width:800px){
  .ai1{
    margin-bottom:50px ;
  }
}
#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}
.icon-cards {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 30s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  border-radius: 6px;
  transform-origin: center;
  padding: 20px;
  color:black;
}
.icon-cards__item:nth-child(1) {
  background: #85e3ff;
  transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
  background: #bffcc6;
  transform: rotateY(90deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
  background: #ffbebc;
  transform: rotateY(180deg) translateZ(35vw);
}
.icon-cards__item:nth-child(4) {
  background: #fcc2ff;
  transform: rotateY(270deg) translateZ(35vw);
}
@keyframes carousel {
  0%, 15% {
    transform: translateZ(-35vw) rotateY(0);
 }
  25%, 40% {
    transform: translateZ(-35vw) rotateY(-90deg);
 }
  50%, 65% {
    transform: translateZ(-35vw) rotateY(-180deg);
 }
  75%, 90% {
    transform: translateZ(-35vw) rotateY(-270deg);
 }
  100%, 100% {
    transform: translateZ(-35vw) rotateY(-360deg);
 }
}    
.testi{
  text-align: center;
  font-size:30px ;
  font-weight: bolder;
} 
.testidesc{
  text-align: center;
  font-size: 20px;
}
