.navbar-brand {
  position: relative;
  left: 10%;
}

.navbar-nav {
  position: relative;
  margin-right: 10%;
}

.nav-link {
  color: #596e79;
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  font-weight: 800;
  margin-right: 30px;
}

.nav-link:hover {
  color: #596e79;
  opacity: 0.4;
  transition: 1s;
}

.active {
  color: #71c9ce !important;
}

.navbar {
  transition: 2s;
}

.navbar-custom {
  background-color: white;
  opacity: 1;
}

.up {
  min-height: 100px;
  max-height: 100px;
}

.imgup {
  width: 150px;
  height: 70px;
}

.down {
  min-height: 60px !important;
  max-height: 60px !important;
  box-shadow: 0 1px 10px #999;
}

.imgdown {
  width: 80px;
  height: 40px;
}

@media (max-width: 900px) {
  .nav-link{
    font-size: 10px;
    margin-right: 2px;
    background-color:white ;
  }
  /* .custom-collapse {
    background-color: #e3fdfd;
    opacity: 1;
    padding: 2%;
  } */
}
