
body {
  /* background-color: #e3fdfd; */
  background-color: white;
}

/* Main Body CSS */
.text-headings {
  font-family: 'Cardo', serif;
  font-weight: 800;
}

.main-text {
  font-family: 'Itim', cursive;
}

.home-background {
  background: url(../images/home-bg-1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 90vh;
  width: 100%;
}

.text-block {
  /* text-align: center; */
  padding: 2% 2%;
  font-size:20px;
  font-family: 'Open Sans', sans-serif;
}
.text-block .hh{
  font-size: 30px;
  font-weight: 800;
}
.subheading{
  color: black;
  font-size: 20px;
  font-weight: 200;
}
.shtext{
  color: black;
  font-size: 20px;
  font-weight: 200;
}
.chsh{
  font-size: 20px;
  font-weight: 800;
  color: black;
}

.inkit-card-bg {
  background: url(../images/home-bg-2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.card {
  max-width: 100%;
  min-width: 100%;
  color: #fff;
  margin: 5% auto;
}

.card-text {
  font-size: 18px;
}

.km a {
  color: #fff;
  text-decoration: none;
}

.stat-container {
  text-align: center;
}

.stat-cont-text {
  padding: 2%;
}

.stat-heading {
  color: #C0C0C0;
  font-size: 1.5rem;
  font-weight: lighter;
}

.stat-text {
  font-size: 5rem;
  color: #0c056d;
}
.imgsection{
  height: 30vh;
  padding-top: 30px;
  background-attachment: fixed;
}
.imgsection div{
  margin: auto;
}
.mb-0 .btn{
  border-radius: 30px;
  background-color: #f1cd39;
  border:none;
  color: black;
}
.btn:hover{
  opacity: 0.7;
}
/* Main Body CSS Ends */
@media only screen and (max-width: 900px) {
  .custom-collapse {
    /* background-color: #e3fdfd; */
    opacity: 1;
    padding: 2%;
  }
  .imgsection{
    height:400px;
  }
  .ybut{
    margin-top: 20px;
  }
  .home-background {
    /* margin-top: 200px; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    /* position: relative; */
    /* background-position-x: center; */
    /* background-position-y: top; */
    margin-top: 100px;
    height: 400px;
    width: 100%;
  }
  .marclass{
    margin-top: 30px;
  }
}
@media (max-width:420px){
  .home-background{
    background-repeat: no-repeat;
    background: url(../images/home-bg-phone.png);
  }
}
@media (min-width:420px) and (max-width:900px){
  .home-background{
    background-repeat: no-repeat;
    background: url(../images/home-bg-phone2.png);
  }
}
